<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#151515">
    <meta name="msapplication-navbutton-color" content="#151515">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% seo %}
  </head>
  <body>
    <header>
      <div class="container header-inner">
        <img class="header-avatar" src="{{ '/assets/img/avatar.jpg' | relative_url }}" alt="avatar" />
        <div class="header-text">
          <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title }}</h1>
          </a>
        </div>
      </div>
    </header>

    <div class="container">
      <nav class="site-nav">
        <a href="{{ '/' | relative_url }}" {% if page.active_page == 'home' %}class="active"{% endif %}>home</a>
        <a href="{{ '/cv' | relative_url }}" {% if page.active_page == 'cv' %}class="active"{% endif %}>cv</a>
        <a href="{{ '/portfolio' | relative_url }}" {% if page.active_page == 'portfolio' %}class="active"{% endif %}>portfolio</a>
        <a href="{{ '/contacts' | relative_url }}" {% if page.active_page == 'contacts' %}class="active"{% endif %}>contacts</a>
      </nav>
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
